<%- model_class = Panorama -%>
<div class="page-header">
  <%= link_to t('.new', default: t("helpers.links.new")), new_panorama_path, class: 'btn btn-primary pull-right' %>
  <h1><%=t '.title', :default => Stitches %></h1>
  <div class="clearfix"></div>
</div>
<div class="table table-striped panoramas">
  <% @panoramas.each_slice(4) do |panorama_slice| %>
      <div class="row">
        <% panorama_slice.each() do |panorama| %>
            <div class="col-lg-4 col-sm-6 col-xs-12 panorama">
              <%= link_to panorama_path(panorama) do %>
                  <% path = "/project-#{panorama.id}.png" %>
                  <div style="background-image: url('<%= path %>');"></div>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
  <% if @panoramas.empty? %>
    <p>Click the "New" button to start stitching images.</p>
  <% end %>
</div>
