<div class="row">
  <div class="jumbotron">
    <h1>Image Stitcher</h1>
    <p>Stitching photos the easy way</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-lg btn-default' %>
  </div>
</div>