#target, #source-images {
  div {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }
}

.panoramas {
  .panorama div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 100%;
  }
}

.panorama-form-actions {
  margin-top: 1em;
}