#target, #source-images {
  div {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }
}